h1 {
  font-family: 'Luxurious Roman', cursive;
  font-size: 5em;
  float: right;
}

#icon {
  max-width: 200px;
  height: auto;
  width: auto;
  float: left;
}

.navbar {
  clear: both;
  text-align: center;
  font-size: 3em;
  padding: 20px;
  float: right;
  font-family: 'Luxurious Roman', cursive;
}


main {
 clear: both;
} 

a {
  text-decoration: none;
  color: red;
}

body {
  background-image: url("backie.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Luxurious Roman', cursive;
}

#mainpics {
  display: flex;
} 

.mli {
  float: left;
  width: 50%;
  height: auto;
  margin-left: 150px;
}

.mri {
  float: right;
  width: 35%;
  height: auto;
}

#home { 
clear: both;
background-color: tan;
padding: 5px;
}

#attractions {
display: flex;
background-color: tan;
padding: 5px;

} 

#trevi {
 float: left;
width: 50%;
  height: auto;
}

#colo {
 float: right;
width: 50%;
  height: auto;
}

#wine {
clear: both;
float: left;
width: 50%;
  height: auto;
}

#club {
  float: right;
width: 50%;
  height: auto;
}

#info {
  clear: both;
  font-size: 1.05em;
}

p {
 font-size: 1.25em;
}

ul {
font-size: 1.1em;
}