header {
  background-color: #fefae0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 350%;
  text-align: center;
  color: wheat;
  border-bottom: 1px solid tan;
  padding-bottom: 15px;
}
    
h2 {
  text-align: center;
  font-size: 150%;
}

main {
  font-family: 'Tiro Gurmukhi', serif;
}

#seymour, #haru, #walter {
  background-color: #e9edc9
}

#po, #winnie {
  background-color: #ccd5ae;
}
