header {
  background-image: url(banner.jpg);
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 350%;
  text-align: center;
  color: wheat;
  border-bottom: 1px solid tan;
  padding-bottom: 15px;
}

h2 {
  font-family: 'Tiro Gurmukhi', serif;
  text-align: center;
  font-size: 150%;
}
  
