h1 {
  font-family: 'Luxurious Roman', cursive;
  font-size: 5em;
  float: right;
}

#icon {
  max-width: 200px;
  height: auto;
  width: auto;
  float: left;
}

.navbar {
  clear: both;
  text-align: center;
  font-size: 3em;
  padding: 20px;
  float: right;
  font-family: 'Luxurious Roman', cursive;
}


main {
 clear: both;
} 

a {
  text-decoration: none;
  color: red;
}

body {
  background-image: url("backie.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Luxurious Roman', cursive;
}

#mainpics {
  display: flex;
} 

.mli {
  float: left;
  width: 50%;
  height: auto;
  margin-left: 150px;
}

.mri {
  float: right;
  width: 35%;
  height: auto;
}

#home { 
clear: both;
background-color: tan;
padding: 5px;
}

#attractions {
display: flex;
background-color: tan;
padding: 5px;

} 

#trevi {
 float: left;
width: 50%;
  height: auto;
}

#colo {
 float: right;
width: 50%;
  height: auto;
}

#wine {
clear: both;
float: left;
width: 50%;
  height: auto;
}

#club {
  float: right;
width: 50%;
  height: auto;
}

#info {
  clear: both;
  font-size: 1.05em;
}

p {
 font-size: 1.25em;
}

td, tr {
  font-size: 1.2em;
  padding: 5px;
}


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: tan;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: tan;
}

.container {
  border-radius: 5px;
  background-color: tan;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

form {
 font-size: 3.5em;
}
